[2016-05-30 06:53] mihaeu opened #1 "jdepend metrics"
This feature depends on how many dependencies were detected. The math however does not change, so including this as a core feature for the alpha release makes sense.
- [x] Number of Classes and Interfaces
- [x] Afferent Couplings (Ca)
- [x] Efferent Couplings (Ce)
- [x] Abstractness (A)
- [x] Instability (I)
- [ ] Distance from the Main Sequence (D)
- [ ] Package Dependency Cycles

Reference: [jde

[2016-05-30 07:11] mihaeu opened #2 "UML generation"
The results of the prototype showed that Graphviz output, without putting lots of effort into styling, is useless.

[PlantUML](http://plantuml.com/classes.html) uses Graphviz for node positioning, but takes care of styling and already provides UML class diagram elements.

[code]

A prototype of php-dependencies generated the following output:

![sample](http://mike-on-a-bike.com/php-dependencies-p

[2016-05-30 07:14] mihaeu opened #3 "phar generation"
Add phar generation to the build process to simplify distribution and testing.

[2016-05-30 07:23] mihaeu opened #4 "Dependency detection for explicit dependencies"
The following types of *_explicit_ dependencies (i.e. no dynamic `new $$$$var();`) should be detected:
- [x] `<<create>>` dependencies (i.e. `new X()`)
- [ ] `<<call>>` dependencies to globals and static dependencies
- [x] `<<call>>` dependencies to injected dependencies (either through constructor or method injection)

Questions:
- are superglobals like `$_POST` relevant (`$_GLOBALS` is, but will

[2016-06-26 21:15] #2 closed, assigned to mihaeu

[2016-06-26 21:17] mihaeu opened #5 "Set namespaces for legacy apps"
Legacy apps are not using namespaces but instead use pseudo namespaced classes like `My_Company_Package_Subpackage_Class`.

For the generation of package scoped output (not outputting every single class) the user should be able to specify a namespace delimiter e.g. `--namespace-delimiter="_"`

[2016-06-28 19:24] #4 closed, assigned to mihaeu

[2016-06-28 19:30] #3 closed, assigned to mihaeu

[2016-06-29 14:37] mihaeu opened #6 "Track variables defined in the current scope"
...

[2016-06-29 14:42] mihaeu opened #7 "Support for DI containers"
Start with:
- Pimple
- Symfony\DependencyInjection (allows Yaml and XML configuration :disappointed:)
- Laravel (probably the toughest)

[2016-06-30 22:45] mihaeu opened #8 "Format DSM"
The current table formatting makes the DSM utterly useless, because it's impossible to see anything.
- [x] make the `<th>` align the text vertically
- [ ] highlight clicked cells

[2016-06-30 22:48] mihaeu opened #9 "DSM not counting correctly"
The DSM right now counts how many dependencies one package has to another package (using `--only-namespaces`). By definition, this can only amount to one. The actual important information for the package level is how many classes of another package a package is depending on.

[2016-06-30 22:56] mihaeu opened #10 "Add phar to phive"
- [x] get SSL certificate for server
- [x] generate phar page using Sebastian's generator
- [x] sign the phar
- [x] fork and add the phive repo info

[2016-08-12 13:47] mihaeu commented on #9
Finally fixed in d6aabf6db6c6e0627729ed424ccb114cc0ac4438

`--only-namespaces` made no sense and has been replaced by `--depth[=DEPTH]`

[2016-08-12 13:47] #9 closed

[2016-08-23 16:32] mihaeu commented on #5
Implemented in e1b03fc using a `--underscore-namespaces` or `-u` option.

Sample output for `php -n bin/php-dependencies text vendor/phpunit/phpunit/src -u -d 2`

[code]

[2016-08-23 16:32] #5 closed

[2016-09-13 11:13] mihaeu opened #12 "Same closure arg order for functional collections (set, map, tree, ...)"
Closures for functional access methods like map or reduce should have the same signature for different implementations. Also `$value, $key` doesn't make sense and is confusing. Use index for key for sets and leaf identifier for trees.

[2016-09-22 10:21] spriebsch opened #13 "Syntax error"
Running ./dephpend.phar metrics <some-directory> gives me a syntax error:

  [PhpParser\Error]
  Syntax error, unexpected T_ELLIPSIS, expecting T_STRING or T_VARIABLE or '{' or '$' on line 145

(dePHPend Phar Sept 15th, 12:30). Other commands seem to have the same problem.

[2016-09-22 10:23] spriebsch commented on #13
Of course, I added a source directory name to the metrics command. This got cut off by GitHub when posting.

[2016-09-22 10:54] spriebsch commented on #7
As far as I can tell from http://fabien.potencier.org/symfony-service-container-using-xml-or-yaml-to-describe-services.html, Symfony should be able to convert back and forth between the formats.

[2016-09-22 11:03] mihaeu commented on #7
That sounds interesting. I haven't decided yet if I

 - regex parse the config files (easy to implement but unstable)
 - or use the Symfony DI itself to get the information (more external dependencies, more stable, less generic)
 - or use the Symfony DI to convert to one specific format and regex parse that

[2016-09-22 11:06] spriebsch commented on #7
Why would you use regular expressions to parse XML?

[2016-09-22 11:16] mihaeu commented on #7
Regex only as a proof of concept, because it's just easier to implement without requiring other dependencies. The proper implementation using `XMLParser` for XML, `ini_get` for .ini, `json_decode` for JSON and some library for yaml.

I'm not sure however how far I want to take the support for various DIs myself. I'd prefer to have others write those and extract them into separate plugins/sub-proje

[2016-09-22 11:28] mihaeu opened #14 "Handle PhpParser errors more gracefully"
When PhpParser encounters malformed code, the whole app crashes without explaining why:

https://github.com/mihaeu/dephpend/issues/13

[2016-09-22 11:32] mihaeu commented on #13
The problem is not with the `dephpend.phar` (*). The problem is that I'm not handling Errors when PhpParser encounters malformed source code. I opened an issue for that. I should probably explain why the app crashed (not sure if it would make sense to keep parsing broken code).

(*) tested the latest `dephpend.phar` on:
- a Windows 10 VM runnign PHP 7.0.9
- a Fedora 23 installation running PHP 7.0

[2016-09-22 11:44] spriebsch commented on #13
Ah, thanks. That was non-obvious to me (I had just pointed the tool to random code I had lying around).

[2016-09-22 11:44] #13 closed

[2016-09-24 04:25] mihaeu commented on #14
Fixed in 0d02784

[2016-09-24 04:25] #14 closed

[2016-10-16 07:45] mihaeu commented on #10
`.phar` is now available at https://phar.dephpend.com and can be installed using `phive install dephpend`

[2016-10-16 07:45] #10 closed

[2016-10-16 07:47] mihaeu commented on #7
Reconsidering this feature because dynamic analysis (introduced in v0.2.0) is more powerful and resilient towards change.

[2016-10-16 07:47] mihaeu commented on #6
Reconsidering this feature because dynamic analysis (introduced in v0.2.0) is more powerful and resilient towards change.

[2016-10-16 07:59] mihaeu commented on #12
Fixed in 9d15e2ea0cec8df9967c857dd8c6be611d8a3b16

[2016-10-16 07:59] #12 closed

[2016-10-16 08:05] mihaeu opened #15 "Replace Symfony console"
Symfony's console component makes proper dependency (constructor) injection very difficult:
- a `Command`'s arguments and options are coupled to the `Command`
- verifying and accessing input requires the `InputDefinition` of a `Command`
- therefore injecting dependencies into a `Command` is not possible if the dependencies require information from the `Input`

Right now there's an ugly hack which

[2016-10-25 10:07] Ainaras opened #16 "Composer global"
Hi,

we have already dephpend in bin-Folder. Can you update your composer.json, that after "composer global require" we have dephpend ready for global usage. (https://getcomposer.org/doc/articles/vendor-binaries.md) Sorry for my english.

[2016-10-25 10:15] mihaeu commented on #16
Hey @Ainaras thanks for the feedback.

Good point I forgot about supporting global composer install.  I'll try to get it in today.

[2016-10-25 10:17] mihaeu commented on #16
(although I would recommend using the phar)

[2016-10-26 12:09] mihaeu commented on #16
Fixed in c9dbd61c467195862fb6f7aa238f1481c4bac25c

If there are any other issues, please let me know. I also added `php-trace` to the binaries in case anyone is interested in playing with the dynamic analysis feature.

Now `composer global require dephpend/dephpend:dev-master` should do the trick.

[2016-10-26 12:09] #16 closed

[2016-11-14 15:41] bonndan opened #17 "AOP for dynamic analysis?"
Hi,

I saw you're into dynamic analysis which I find really interesting. Have you ever considered using an AOP library plus Reflection to obtain param and return types?

To be honest, it's just a naive idea. I can't even say if it's better or worse than xdebug performance-wise.

[2016-11-14 19:32] mihaeu commented on #17
Hey @bonndan I actually spoke with someone about that before, but then didn't dig into any further. I haven't checked if the popular AOP libraries support PHP 7.

I think it might be worth looking into because it would probably be less of a hassle for the user than setting up XDebug.

Performance wise I think XDebug should be faster, it being C and all.

Thanks for the suggestion, I'll put it on m

[2016-11-16 19:00] sergeyklay opened #18 "Throw RuntimeException for --help option"
Inside my container:
[code]

In my opinion it's not quite right to throw the exception here and does not look professional. Maybe replace it by message "Command/Option/Argument not found"?

[2016-11-16 19:04] sergeyklay commented on #18
Well, I can't get any help:

[code]

[2016-11-16 22:04] mihaeu commented on #18
Hey @sergeyklay

Thanks so much for your feedback, I really appreciate it.

I fixed this bug in 04ea8db15d92924a2a93cca5196e4837bc83cc73

I do handle exceptions differently (but still not properly) and you are right it is unprofessional to show them to the user in this way. This was actually due to a very ugly workaround which I had to use in order to properly use dependency injection with Symfony

[2016-11-16 22:04] #18 closed

[2016-11-16 22:36] sergeyklay commented on #18
Thanks for so fast fix

[2016-12-06 13:34] mihaeu opened #19 "Division by zero when result is empty"
[code]

[2016-12-20 04:01] mihaeu opened #20 "Make --output optional"
All commands, including those producing binary output (e.g. `.png`) can output to stdout directly. This would allow for one line calls like

[code]

instead of having to write it to an intermediate file.

[2017-01-05 08:50] tomor opened #22 "Improve --underscore-namespaces to fix invalid class names (^number)"
`--underscore-namespaces` option is very usefull for projects that don't use namespaces to allow component/package level view. Unfortunataly in such project we can have classes like `My_Class_2You` . When "namespaced", it will result into invalid classname because it starts with number: `My/Class/2You`

It causes Fatal error even when I'm not interested in classes (`--no-classes` used).

It would

[2017-01-05 09:23] mihaeu commented on #22
Hey Tomas,

Interesting issue :smile: Thanks for all the suggestions.

I was contemplating class name validation before. To be honest, I just implemented it because it made me feel safe :smirk:

The thing is that we know that PHP won't allow something like this anyways:

[code]
[code]

So an invalid class name would not pass the parser anyways. dePHPend handles parsing and analysing as two complet

[2017-01-05 09:43] tomor commented on #22
Hi Michael,

thanks for your quick response.

`My\Class\2You` would be ok for me. The class name in the project is different, I wanted to have something shorter for the example.

The regex transformation sounds good.

[2017-01-05 09:52] tomor commented on #22
I just tested it once without the line `$this->ensureClassNameIsValid($name);` and it seems fine.

I will get this line in text result:
`Vendor\Data\2Factor --> Base\Model\SQL`

And I don't mind that the created class name is not valid. (I have no idea if it can be a problem for further processing though)

[2017-05-04 14:46] mihaeu opened #23 "Support plantuml.jar"
Support plantuml.jar for those who can't or don't want to install it on their system.

[2017-05-04 15:17] mihaeu opened #24 "dot command cannot handle relative paths"

[2017-05-09 15:59] sebastianbergmann opened #25 "Uncaught TypeError: Argument 1 passed to Mihaeu\PhpDependencies\Dependencies\DependencyFactory::createClazzFromStringArray() must be of the type array, null given"
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2017-05-10 19:01] mihaeu commented on #25
Thanks for the report Sebastian. Interesting find.

If you change the last command to `../dephpend/bin/dephpend text src` it would work. Something within the `vendor` directory is causing problems.

I'll investigate and let you know what it was.

P.S. new version with new features (and better error reporting) coming soon

[2017-05-10 19:28] mihaeu commented on #25
Found it :smile: I didn't support anonymous inner classes. I thought about that edge case once and then forgot to test it.

[code]

[2017-05-10 19:35] mihaeu commented on #25
Fix is on develop. Will merge and tag tomorrow or Friday.

[2018-02-04 18:56] fesor commented on #7
@mihaeu but dynamic analysis is great feature, but this requires much more efforts.

I don't think that this project should handle framework specifics, but instead maybe it's will be useful to have some plugin system which allow to override return types dynamically. Then this will be developer's responsibility to property parse symfony's xml of build their own type mappings.

For inspiration you c

[2018-03-25 13:30] djmattyg007 commented on #15
The symfony console component now supports lazy-loading of commands: https://symfony.com/doc/current/console/lazy_commands.html

[2018-03-25 13:36] mihaeu commented on #15
That is excellent news, thank you!

[2018-05-29 14:50] temp opened #30 "dephpend --version throws error"
dephpend.phar, version 0.5.0

[code]

[2018-05-29 14:59] mihaeu commented on #30
Thanks for reporting this 😮

I'll deliver a fix on Thursday. Sorry for the inconveniences 😥

On Tue, May 29, 2018, 16:50 Stephan Wentz <notifications@github.com> wrote:

[2018-07-03 10:25] JindrichPilar opened #33 "Compability with Symfony 4"
Currently this package is incompatible with Symfony 4, due to composer.json:
[code]

[2018-07-03 10:34] mihaeu commented on #33
Good point. I added the compat. a few commits ago and then removed it again
because Travis stubbornly tried to install v4 even when on PHP 7 ...

But you're right, I'll make sure to add it again. Probably tomorrow.

On Tue, Jul 3, 2018 at 12:25 PM Jindřich Pilař <notifications@github.com>
wrote:

--
Michael Haeuslmann
Senior Consultant
TNG Tech Consulting

-----------------------------------------

[2018-07-04 15:45] mihaeu opened #34 "Architecture DSL"
Quick draft:

[code]

Assertions using xUnit i.e. PHPUnit Framework Assertions.

[2018-07-13 14:41] Merenptah commented on #34
Hi Michi,

Looks pretty nice.
Some notes:
- `dependsOn`: For consistency `mayDependOn`
- There doesn't seem to be any difference between Layer and Component and Package, you intend to add syntactic sugar for all these more or less equivalent notions?

Do you know how you will handle the errors? Since it does not make much sense to define a test for each layer restriction it would be great if all e

[2018-07-14 06:28] #33 closed, assigned to nobody

[2018-07-23 20:30] mihaeu commented on #34
Thanks for the feedback @Merenptah

I finally got around to actually implement a first draft. Super ugly, but it's a start. Test cases aren't looking too bad: https://github.com/mihaeu/dephpend-tests/blob/master/tests/integration/ArchitectureTest.php

+1

Good question. I was thinking syntactic sugar doesn't hurt, on the other hand people complain when you remove it later on ... hmmm.

Definitely.

[2018-07-27 03:10] mihaeu opened #36 "Increase default size for PlantUML diagrams"
See http://plantuml.com/faq

[2018-07-30 13:07] temp commented on #30
SCNR: Which Thursday? 😅

[2018-09-11 18:07] sebastianbergmann opened #37 "Wrong description for "text" command"
[code]

[2018-10-01 08:55] mihaeu commented on #37
Thanks @sebastianbergmann :+1:

Fixed in 56a5b4ba6a0a2a375b614459c8f01a6c5c2e9358, will tag later today.

[2018-10-01 08:55] #37 closed

[2019-04-01 09:14] jakzal opened #40 "Website and phar disappeared"
dephpend.com shows an apache default page.

https://phar.dephpend.com/dephpend.phar returns 404.

[2019-04-01 09:17] jakzal commented on #40
Just noticed phars are also published to github releases, so I'll use that for the moment.

[2019-04-01 11:44] mihaeu commented on #40
Thanks @jakzal my server contract runs out in two days and somehow they were a bit too eager ...

Should work for now, but I'll move all the stuff over to GitHub pages so that these things don't happen again.

[2019-04-01 11:44] #40 closed

[2019-04-04 14:32] brightbyte opened #41 "Support GML output"
While the plain text output of dependencies is nice for processing with grep, it would be nice to have an output format that can be used directly with more powerful graph analysis frameworks, such as graph-tool. [GML](https://de.wikipedia.org/wiki/Graph_Modelling_Language) seems to be a good candidate, since it's human readable and easy to generate.

[2019-04-04 14:35] brightbyte opened #42 "Allow filtering out dependencies introduced by deprecated methods and classes."
When refactoring a code base that needs to maintain a stable interface, it's often necessary to keep undesirable dependencies in deprecated methods until some later release. It would be useful to be able to see what the dependencies would look like with all the deprecated stuff removed. The respective filter would skip all classes and methods with the @deprecated tag in the documentation.

[2019-04-04 16:42] mihaeu commented on #41
Very good idea and easy to implement as well. I'll make sure to add that on the new version. Probably not within the next two weeks though.

[2019-04-04 16:47] mihaeu commented on #42
Never had a use for that come up myself, because I would consider it a red test, but on the other hand I'm aware that when it comes to proper legacy those tests stay red for a loooong time 😉

This should be easy to implement however so I'm just going to add it too the next version.

[2019-04-04 19:21] brightbyte commented on #41
Excellent, thank you!

I'm looking into this for use in the MediaWiki platform evolution program. I'm evaluating several static analysis tools, but there is a good that dephend could help us clean up the code that runs Wikipedia :)

By the way, have you seen [phpda](https://github.com/mamuz/PhpDependencyAnalysis/)? It seems similar, maybe you want to join forces :)

[2019-04-04 19:24] brightbyte commented on #42
Yes, ignoring all deprecated sources was the idea.

Excellent, thank you!

I'm looking into this for use in the MediaWiki platform evolution program, which aims to untangle the code that is running Wikipedia. It has been growing for 15 years, has a large install base and literally thousands of extensions, so yes... tests say red a long time, because making a breaking takes a year or so. Seeing pro

[2019-04-05 11:44] brightbyte opened #43 "Optionally mark visibility of a dependency in output"
It would be useful to me to be able to distinguish between dependencies of different visibility, in particular "public" dependencies (subclassing, implemented interfaces, public method signatures) and "private" dependencies (private method signatures, use in method bodies). For a large and messy code base like MediaWiki, this would allow further analysis to distinguish between that are hard to fix

[2019-04-07 06:20] mihaeu commented on #43
I couldn't agree more. We desperately need this. Same as method level
dependencies (i.e. usage).

It's not so much a technical difficulty (if you don't want to reimplement
static typing for inheritance etc.), but more a question of ethics 😉 PHP
is dynamic and one can never guarantee that the list of dependencies is
accurate. Providing this level of information could suggest that it is the
full lis

[2019-04-08 17:55] brightbyte commented on #43
Hi mihaeu, I'm glad you agree that this is would be a helpful feature!
I may be able to help with implementing this. This functionality would help me a lot!

[2019-04-09 04:10] mihaeu commented on #43
Well, help is always appreciated :)

I have a long flight today, so I have some time to work on all your ideas :)

But dePHPend's architecture is quite simple actually.

All selected PHP files are parsed and then analyzed. After that, you've got a map of dependency tuples. Prefilters are run on every command and reduce that map depending on which filter was used (mostly selectors like regex etc.).

[2019-04-11 06:31] sebastianbergmann opened #45 "PHAR missing for new releases"
`phive install dephpend` installs version 0.4.0, not 0.6.0. Not surprising, though, as the releases are missing on https://phar.dephpend.com/.

[2019-04-11 07:51] sebastianbergmann opened #46 "Syntax error message does not include filename"
The error message shown below is missing information about the source code file it refers to:
[code]

[2019-04-11 15:15] #46 closed

[2019-04-11 16:10] mihaeu commented on #45
I'll switch to GitHub releases and will adjust the installation instructions accordingly.

[2019-05-13 12:44] brightbyte opened #47 "Don't treat class name literals as dependencies"
Class name literals, like FooBar::class, should not be treated as a dependency on the class FooBar. Such literals are really just syntactic sugar for string literals like "FooBar", they don't require the class to be loaded, or even to exist at all.

Technically, class name literals are a dependency on the class *name*, as they have to be updated when the class is renamed. If this kind of dependenc

[2019-05-13 17:53] mihaeu commented on #47
Interesting way of looking at it 🤔 so you're looking at it from a
technical point of view, I'm looking at it from the point of "if I'm
borrowing a concept from another class, I have a certain relationship to
that class/package." Of course some people do stuff like Numbers::ONE 😅
but if it's something like Validator -> Credit card::FORMAT I'd want to
know about it.

Do you know what I mean?

On Mon

[2019-05-13 18:01] brightbyte commented on #47
Yea, I know what you mean. It would probably not be good to just ignore those, always. But I want to be able to pick and choose. So having a dependency-type "name" or "constant" would be helpful, since then I could filter them out when I don't care about them.

I didn't even think about actual constants, by the way - but you are right, Foo::BAR and Foo::class are not so different. Except the latte

[2019-05-18 13:20] brightbyte commented on #47
I just learned about "connascence" metrics [1] that differentiate between different types and dependencies. This goes into the same direction I was thinking in here: distinguishing different kinds of dependencies allows for more meaningful analysis of the dependency graph. For instance, dependencies on behavior (use) are transitive, while dependencies on names (mention) are not (or at least not al

[2019-05-20 08:21] zajca opened #48 "Docker container rebuild"
There is an issue with docker container.
Image needs to be rebuild one in docker hub is no the one in Dockerfile. Automated build would be great also in docker hub there is no link back to github or builded Dockerfile, this looks kind a bad.

Also would be great if entry point has raised php memory limit. Or in readme could be example how to raise memory limit with docker by overriding entry point

[2019-05-20 12:38] mihaeu commented on #48
Thanks Martin 😅 will take care of it later this week. Docker build was
kind of rushed, I agree 😅

On Mon, May 20, 2019, 3:21 AM Martin Zajíc <notifications@github.com> wrote:

[2019-05-29 20:07] mihaeu commented on #48
Should be fixed with f3ba7966975536e16974e508c477bb8837ece905 and 2f8f3e20fc0c4174dcb8170850f2797befba390c. Autobuild is now enabled. Feel free to pull latest and verify @zajca.

And thanks again for the find.

[2019-05-29 20:07] #48 closed

[2019-06-12 12:03] kitingChris opened #49 "Release Artifact: Can't check signature: No public key"
I actually like to verify gpg keys. But looks like you did not provide a public key...
[code]

[2019-06-13 15:17] mihaeu commented on #49
Thanks for reporting this @kitingChris

Must have used the ssh key instead of the pgp for signing 😓

I'll get around to fixing it until then feel free to trust 😝

[2019-07-10 11:20] brightbyte opened #50 "When reporting syntax errors, mention the file name"
Currently, when a syntax error is found in the code base, the error report looks like this:
[code]
There is no indication what file the error is in, which is problematic in a large code base. This is especially annoying if the error can't easily be found with other tools, because it's not a "real" syntax error, but rather an incompatibility with an obscure language feature or syntax introduced by

[2019-07-10 12:04] brightbyte opened #51 "Incompatible with symfony/event-dispatcher 4.3"
The composer.json file says "symfony/event-dispatcher": "^2.0 || ^3.0 || ^4.0", but the way the Dispatcher is implemented is apparently incompatible with versions 4.3 and later. It seems like no action is performed at all, since the dispatch() method never gets called. With symfony/event-dispatcher 4.2.10, things still work as expected.

[2019-07-10 12:16] mihaeu commented on #51
Thanks @brightbyte will fix it tonight.

By the way, I'm back since July 1st. Wanna talk?

[2019-07-11 10:00] brightbyte commented on #51
Sure! I'll send you an email.

[2019-07-14 08:50] mihaeu commented on #51
Fixed in 0.6.1 ... breaking bc in a minor ... wtf

I could wrap this and support both versions, but not sure yet if that's worth it. Let's discuss that via phone.

[2019-07-14 08:50] #51 closed

[2019-07-14 14:48] #50 closed

[2019-07-17 15:14] mihaeu commented on #42
- mark in text output

[2019-07-17 15:21] mihaeu opened #52 "Write errors to stderr not stdout"
Warnings should not pollute useful output.

[2019-07-17 15:33] mihaeu opened #53 "Show global namespace in --no-classes"
Show global namespace in --no-classes

[2019-07-19 11:28] mihaeu commented on #42
@brightbyte how would you deal with this

[code]

So as long as there is one non-deprecated dependency, the edge will not be marked as deprecated, right? everything else would be super misleading.

[2019-07-19 12:50] brightbyte commented on #42
Yes, absolutely.

Also, consider:

class A {
    /** @deprecated */
    private B $b;

    public foo() {
        $this->b->call();
    }
}

This would be a non-deprecated use of B. The fact that the member is deprecated wouldn't matter. Only if the code doing the call was also deprecated, then it should be ignored.

[2019-08-08 11:42] temp commented on #49
Any news on this one? New release with valid key would be awesome...

[2019-08-27 16:11] kitingChris commented on #49
@mihaeu on which PGP servers did you publish your PGP key?
It seems none of the following keyserver knows your keyid nor your email.
[hkps://keys.openpgp.org, keys.gnupg.net,  keyserver.ubuntu.com, hkp://keyserver.ubuntu.com:80, pgp.mit.edu]
Did you forgot to publish your PGP public key?

[2019-08-28 04:53] theseer commented on #49
@mihaeu *ping* ;-)

[2019-09-03 12:51] theseer commented on #49
@mihaeu ping ;-)

[2019-09-03 20:06] mihaeu commented on #49
Sorry everyone, GitHub didn't like my email reply this time. Weird I published the key to  keys.openpgp.org and pgp.mit.edu

[2019-09-04 09:25] NavyCoat opened #55 "SSL_ERROR_BAD_CERT_DOMAIN when trying to download phar."
I can't download phar from https://phar.dephpend.com/dephpend.phar receiving SSL error.

[2019-09-06 10:41] theseer commented on #49
[code]

Not sure what's causing this though ;)

[2019-09-06 10:43] theseer commented on #49
The openpgp server though seems to know the key. Just the query doesn't work.
Maybe that's a bug in phive...

[2019-09-06 12:50] kitingChris commented on #49
@mihaeu searching on https://keys.openpgp.org/ for either your public key id nor your mail "haeuslmann@gmail.com" just tells Error: No key found

[2019-09-06 13:04] mihaeu commented on #49
`dephpend-0.6.1.phar ` was signed using `michael.haeuslmann@gmail.com` which is on that server: https://keys.openpgp.org/search?q=michael.haeuslmann%40gmail.com

[2019-09-07 01:41] theseer commented on #49
Given that a signature only contains a key id and not the email address, `phive` only searches for the id.

PHPStan seems to have issues as well currently: [phive #206](https://github.com/phar-io/phive/issues/206).

Not sure yet what's broken here, maybe our parsing logic for the data is to optimistic or maybe the output of the keyservers changed.

[2019-09-07 11:31] theseer commented on #49
It looks like that hagrid, the software running at keys.openpgp.org turned picky on the order of parameters in the get request. While I think that might qualify as a bug (and possibly a violation of http specs), I'll update phive to deal with this better.

While at it, I'll might directly implement their alternative API.

[2019-09-17 11:20] 155martinmoreno opened #56 "Error running text mode"
I'm running this command

`docker run --rm -v <abs_path>:/inspect mihaeu/dephpend:latest text /inspect`

and I'm getting this output

`Something went wrong, this shouldn't happen. Please take a minute and report this issue: https://github.com/mihaeu/dephpend/issues

Argument 1 passed to Mihaeu\PhpDependencies\Analyser\DependencyInspectionVisitor::addName() must be an instance of PhpParser\Node\Nam

[2019-09-18 05:49] mihaeu commented on #56
Oh that looks interesting. Can you share the file where this occurs?

On 17.09.19 13:20, Martín Moreno wrote:

[2019-09-18 08:51] 155martinmoreno commented on #56
Well, it's a massive project, both in files count and size.
Sorry, can't share
Could size be related?

Also, is there any verbosity option that could narrow down the search?
If it's small enough maybe I can share an extract.

[2019-09-18 09:06] mihaeu commented on #56
No it seems to be a parser problem. All files are syntactically correct?

On 18.09.19 10:51, Martín Moreno wrote:

[2019-09-18 09:17] 155martinmoreno commented on #56
Would say yes, but I'm still trying to get my bearings in the full code.
Actually, that's why I'm using this tool.

Will try to split runs in several to see if I can narrow it down.

I'll let you know.

[2019-09-18 09:49] mihaeu commented on #56
Yeah that's what I was going to suggest, something like `for file in
**/*.php; do dephpend text $file; done`

On 18.09.19 11:17, Martín Moreno wrote:

[2019-09-19 20:46] theseer commented on #49
Please try again with Phive 0.13.0 as this should fix the issue at hand.

[2019-09-20 06:26] mihaeu commented on #49
Awesome, thanks @theseer

[2019-09-20 06:28] mihaeu commented on #49
Works like a charm

[2019-09-20 06:28] #49 closed

[2019-09-21 14:48] kitingChris commented on #49
jep can confirm now the key check works!
Thanks a lot

[code]

[2019-10-10 10:25] smuuf commented on #56
I have stumbled upon the same error and using the "separate files" technique mentioned above I have found out the culprit. And it is this piece of code:

[code]

Which in and of itself is a valid way of how to access constants of some instance's class _(I'm using `PHP 7.2`)_, but seems like it breaks some stuff in the analyzer.

Hope this helps.

[2019-10-10 14:13] mihaeu commented on #56
Interesting, thanks for reporting this. I'll fix it this weekend.

On 10.10.19 12:25, Přemysl Karbula wrote:

[2019-10-20 09:47] garak opened #57 "Wrong argument on ensureDestinationIsWritable()"
On version 0.6.1, tried to run `bin/dephpend dot myprojectpath` and got

[/mydir/dephpend/src/Cli/BaseCommand.php at line 138]

[2019-10-20 15:41] #56 closed

[2019-10-20 15:48] mihaeu commented on #56
@smuuf thanks for helping me analyze this. Instead of trying to be really smart about it I instead opted to ignore this problem because really that code does not make sense from the point of view of a static analyzer.

[2019-10-20 15:51] mihaeu commented on #57
Thanks @garak for reporting this. Really really weird. I can reproduce this. Basically symfony console is ignoring that `-o|--output` is a required option ...

I'll look into it.

[2019-10-28 14:56] brightbyte commented on #42
Are you still working on this? I'm still very interested in this feature...

[2019-12-04 10:48] williamdes opened #58 "Error in text mode"
Similar to #56

Using: docker, composer: 0.6.2, composer: dev-master

`
Argument 1 passed to Mihaeu\PhpDependencies\Analyser\DependencyInspectionVisitor::addName() must be an instance of PhpParser\Node\Name, instance of PhpParser\Node\Expr\ArrayDimFetch given, called in /root/.composer/vendor/dephpend/dephpend/src/Analyser/DependencyInspectionVisitor.php on line 90
`

[2019-12-04 10:50] williamdes commented on #58
@mihaeu because of
[code]

[2020-01-10 12:47] williamdes commented on #58
@mihaeu :ping_pong:

[2020-01-10 13:10] mihaeu commented on #58
Riiight terribly sorry @williamdes

I've been hibernating :wink: I'll try to fix it on Sunday. Does that still work for you?

[2020-01-10 13:14] williamdes commented on #58
:bear: :laughing:

Yes :heavy_check_mark:

[2020-01-17 15:48] #58 closed

[2020-01-17 16:45] mihaeu commented on #58
Released 0.6.3, thanks for your patience @williamdes

[2020-04-07 08:50] williamdes commented on #55
@mihaeu could you fix the phar webite ?

[2020-05-12 09:43] laurentmuller opened #59 "Update to Symfony 5."
This will be nice if this package is compatible with Symfony version 5.0.

This only a matter of update the `composer.json` file:

[code]

[2020-05-12 10:37] mihaeu commented on #59
Hi and thanks for the PR, I'll check it out later. I think there was a reason why I tried to stay with version 4. I think there was a break which is no longer compatible.

[2020-06-05 12:28] mihaeu commented on #55
Hi @williamdes the website is no longer supported, because all the phars are now hosted by GitHub. I believe this will be the better solution in the long run.

The SSL error originated from me moving the website to GitHub pages and LetsEncrypt failing at renewing the domain because of the missing claim.

[2020-06-05 12:28] #55 closed

[2020-06-05 12:33] williamdes commented on #55
Well, I do not know where I had seen the URL :thinking:
No worries then :)

[2020-06-05 12:34] mihaeu commented on #55
Probably here https://github.com/mihaeu/dephpend/commit/0d0065a913696a881c7d8c17d7a0ae8e9417cdb1 :see_no_evil:

[2020-06-05 13:03] williamdes commented on #55
Sure :laughing: :see_no_evil:
Thank you ;p

[2020-06-11 07:39] mihaeu commented on #57
Hey @githoober are you providing the -o option?

[2020-06-13 11:34] githoober commented on #57
Hey @mihaeu. No, I am not.

[2020-06-19 06:59] mihaeu commented on #59
Solved in dd673e3

Will tag and release asap

[2020-06-19 06:59] #59 closed

[2020-06-19 07:00] mihaeu commented on #45
Solved a long time ago, but broken window theory got the better of me :sweat:

[2020-06-19 07:00] #45 closed

[2020-06-19 08:08] mihaeu commented on #57
So the issue here is that symfony/console makes my life unnecessarily hard when it comes to injecting dependencies and properly verifying options. If you check `--help` you can see the `-o` option is required, but the exception is not saying as much :/

[2020-06-19 08:28] #57 closed

[2020-08-07 22:20] mre opened #61 "Website down?"
Getting a 404 from Github when trying to access https://dephpend.com.
According to https://www.githubstatus.com, Github pages should be up.

Thanks for the tool btw.

[2020-11-08 19:03] szepeviktor commented on #61
I think there is no content for the website.

[2020-11-08 19:05] szepeviktor commented on #61
Or there is a setup error.

It is very strange that files for github-pages are mixed with PHP code...

[2020-11-08 19:30] szepeviktor opened #64 "Mihaeu\PhpDependencies\Util\DI is missing"
But referenced in `src/Cli/TestFeaturesCommand.php`

Maybe related to #7

[2020-12-27 19:24] hktr92 opened #65 "Unable to execute this tool"
Hello.

I have installed this tool via phive. Even if it installed dephpend v0.7.0, dephpend --version reports version 0.6.3, which feels a bit odd (maybe that phar is messed up?)

When I try to execute this library on a Symfony 5.1 project with PHP 7.4 (which is pretty big), I keep getting the following error:

    $ dephpend text src
    PHP Warning:  Undefined array key 314 in phar:///usr/local

[2020-12-29 09:51] mihaeu commented on #65
Hi @hktr92 and thanks for the report. I'll have a look at this issue over New Year's. Might be related to 7.4 and it's about time I add 8.0 support as well. Will keep you posted :wink:

[2021-02-03 10:27] DasLampe commented on #23
As Workaround:

Download Plantuml, put `plantuml.jar` to `/opt/plantuml/plantuml.jar` and create `/usr/bin/plantuml` with the following content:

[code]

[2021-04-25 15:21] talbergs opened #68 "It cannot parse this php 8 code."
[code]

[2021-04-26 07:45] mihaeu commented on #68
Hi @talbergs  thanks for this issue. I've got a week of holiday and intend to fix PHP 8 support. I'll let you know as soon as it's working.

[2021-05-02 13:12] mihaeu commented on #68
Released 0.8.0 with support for 8.0 :smile:

[2021-05-02 13:12] #68 closed

[2021-05-02 13:19] mihaeu commented on #64
Thanks for the report. Fixed in 2ecf0eb

[2021-05-02 13:19] #64 closed

[2021-05-02 13:21] mihaeu commented on #65
I forgot about closing this. It has been fixed in version 0.8.0, thanks for the report.

[2021-05-02 13:21] #65 closed

[2021-05-02 13:22] mihaeu commented on #1
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:22] #1 closed

[2021-05-02 13:22] mihaeu commented on #6
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:22] #6 closed

[2021-05-02 13:22] mihaeu commented on #7
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:22] #7 closed

[2021-05-02 13:22] mihaeu commented on #8
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:22] #8 closed

[2021-05-02 13:22] mihaeu commented on #15
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:22] #15 closed

[2021-05-02 13:23] mihaeu commented on #17
I won't get around to doing this any time soon and haven't had any requests for this in the past 5 years so I'll close this for now.

[2021-05-02 13:23] #17 closed

[2021-05-02 13:23] mihaeu commented on #19
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:23] #19 closed

[2021-05-02 13:23] mihaeu commented on #20
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:23] #20 closed

[2021-05-02 13:24] mihaeu commented on #22
I think this should be working by now.

[2021-05-02 13:24] #22 closed

[2021-05-02 13:24] mihaeu commented on #23
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:24] #23 closed

[2021-05-02 13:24] mihaeu commented on #24
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:24] #24 closed

[2021-05-02 13:24] mihaeu commented on #34
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:24] #34 closed

[2021-05-02 13:24] mihaeu commented on #36
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:24] #36 closed

[2021-05-02 13:25] mihaeu commented on #30
Already fixed, sry for not closing this earlier. Had to many issues that weren't bugs open and forgot about it :see_no_evil:

[2021-05-02 13:25] #30 closed

[2021-05-02 13:25] mihaeu commented on #52
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:25] #52 closed

[2021-05-02 13:25] mihaeu commented on #53
I will stop using issues for my personal feature requests because it makes the project look more broken than it is :sweat_smile:

[2021-05-02 13:25] #53 closed

[2021-05-02 13:26] mihaeu commented on #25
Fixed a while ago, my issue management sucks :see_no_evil:

[2021-05-02 13:26] #25 closed

[2021-05-02 13:44] mihaeu commented on #61
Resolved the DNS issues with my hoster. Finally back running. Still using `gh-pages` branch for now which I still have to get rid of at some point, but for now I'm happy it's up and running again.

[2021-05-02 13:44] #61 closed

[2021-05-02 13:50] mihaeu commented on #41
[GraphML](https://en.wikipedia.org/wiki/GraphML) seems to be the successor of GML, but either way I started thinking about this again this weekend as I spend some time on updating dePHPend (PHP 8 support etc.).

I don't see enough demand for another output format. The current text output could probably be changed to be compatible with `GraphML` using `awk`.

[2021-05-02 13:50] #41 closed

[2021-05-02 13:51] szepeviktor commented on #64
You're welcome.

[2021-05-02 13:53] mihaeu commented on #47
Thought some more about this, but if someone adds a non-existing `XYZ::class` somewhere I would still want this to show up, especially when writing architecture tests. If there are exceptions those can still be filtered using regex provided by the `dephpend` option.

[2021-05-02 13:53] #47 closed

[2021-05-02 13:56] mihaeu commented on #42
I'm being very pragmatic these days, because with my other projects I don't have that much time to spend on dePHPend. This is something that can be done already using:

[code]

This issue is 2 years old (mea culpa :see_no_evil:) but this can be done by grepping for things that have `@deprecated` attached to them, concatenating them and then passing them as filters to that option. This is of course

[2021-05-02 13:56] #42 closed

[2021-05-02 13:59] mihaeu commented on #43
I still see this as a very interesting feature, but also one that requires keeping track of state and doing multiple passes over all dependencies.

I'm guessing you already solved this issue, since it's 2 years old now :hear_no_evil: but if there's still a need, feel free to re-open, and I'll try to help in some way or another.

[2021-05-02 13:59] #43 closed

[2021-05-06 09:28] leonstafford opened #71 "broken link to animated timeline in README.md"
In https://github.com/mihaeu/dephpend#architecture-timeline section

PS. Awesome looking project, I followed @szepeviktor's footprints leading here.

[2021-05-06 09:30] mihaeu commented on #71
Hi @leonstafford, thanks :hugs:

Oh darn, thanks for letting me know.

[2021-05-06 09:50] szepeviktor commented on #71
😲 https://web.archive.org/web/20190718133753if_/https://dephpend.com/dephpend-timeline.gif

![](https://web.archive.org/web/20190718133753if_/https://dephpend.com/dephpend-timeline.gif)

[2021-05-09 08:53] mihaeu commented on #71
Fixed in 89b1159

Thanks for the report and the link

[2021-05-09 08:53] #71 closed

[2021-05-09 08:59] szepeviktor commented on #71
Thank you.
Please push those update to `gh-pages` too.

[2021-11-18 12:09] RBotfield opened #73 "Expired certificate in verification signature"
The signature on the latest release is signed using an expired certificate.

### Verification
[code]

### Checking the cert provided on OpenPGP
[code]

### Also shows as an issue installing with Phive
[code]
### Checking the key pulled by phive
[code]

[2022-02-03 19:44] beeyev opened #74 "Multiple derprecations in php 8.1"
Hello, first of all, thanks for the great tool, I have been using it for quite a long time.
But it seems that the library needs to be updated in order to work with PHP 8.1
I get these errors:
[code]

Could you please fix that?

[2022-02-04 18:28] mihaeu commented on #74
Hi @beeyev, you're right, thanks for the report. I'll try to get to it this weekend.

[2022-05-30 14:42] djschilling commented on #68
@mihaeu thanks for fixing this. But i still get this issue when running `composer update`:

[code]

[2022-06-08 00:36] eliseuborges opened #75 "unexpected T_STRING error reported for php 8.1 enum"
Executing dephpend from docker I've received **Syntax error, unexpected T_STRING on line 5 in file /inspect/app/Enum/MyClass.php**.

[code]

[2022-11-13 22:51] erin-bristow opened #77 ""PlantUML installation not found" despite PlantUML being globally installed"
Hello! I am trying to run `/home/user/dephpend/bin/dephpend uml --output=uml.png --no-classes src` but I'm getting the following error:

[code]
I've checked that PlantUML is installed globally so I'm not sure what it could be. dePHPend is working fine for other options (metrics, etc.) Thanks!
[code]